<!DOCTYPE html>
<html>
<head>
  <title>OneofSKKU</title>

   <link href="/assets/mainpage.css" rel="stylesheets">
   <script  src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/mainpage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    
    <!--fonts-->


   
</head>
<body>
   <div class="main_container">
       <div class="main_top">
           <div class="main_top_banner1"><img src="/assets/banner_oou.png"></div>
           <div class="main_top_logo"><img class="main_top_logo_img" src="http://postfiles16.naver.net/20160824_63/yoonisus_1472023560689kFsmx_PNG/logo.png?type=w3"></div>
           <div class="main_top_banner2"><a target="_blank" href="http://www.apple.com/kr/macbook/"><img src="/assets/banner_apple.png"></a></div>
       </div>
       <div class="main_notice">
           <div class="main_notice_slider">
                <button class="prev" type="button"><img src="/assets/OOU_ic_main_prev"></button>
                <ul>
                    <a target="_blank" href="http://www.koicacontest.co.kr/sub2_1.php"><li><img src="/assets/slide2.jpg"></li></a>
                    <a target="_blank" href="http://www.audi-design.co.kr/"><li><img src="/assets/slide1.jpg"></li></a>
                    <a target="_blank" href="http://akita.or.kr/notice/view/864"><li><img src="/assets/slide3.jpg"></li></a>
                    <a target="_blank" href="http://www.gongucontest.co.kr/2016/html/main.php"><li><img src="/assets/slide4.jpg"></li></a>
                </ul>
                <button class="next" type="button"><img src="/assets/OOU_ic_main_next.png"></button>
           </div>
           <div class="main_notice_topbanner">
               <div class="main_notice_school"><img src="/assets/skku.png" style="margin-right:5px">성균관대학교 공지사항</div>
               <ul>
                   <a target="_blank" href="http://www.skku.edu/new_home/campus/skk_comm/notice_view.jsp?bCode=0&page=1&boardNum=33563&virtualNum=0&skey=BOARD_SUBJECT&keyword=&bName=BOARD_NEWS&bCode=0"><li>퇴계인문관 4층 교수휴게실(31422호) 근로학생 모집(서류접수:8/31(수), 오전 10시)까지)</li></a>
                   <a target="_blank" href="http://www.skku.edu/new_home/campus/skk_comm/notice_view.jsp?bCode=0&page=1&boardNum=33338&virtualNum=0&skey=BOARD_SUBJECT&keyword=&bName=BOARD_NEWS&bCode=0"><li>2016학년도 가을학기 동양문화고급과정 수강생 추가 모집</li></a>
                   <a target="_blank" href="http://www.skku.edu/new_home/campus/skk_comm/notice_view.jsp?bCode=0&page=1&boardNum=33567&virtualNum=0&skey=BOARD_SUBJECT&keyword=&bName=BOARD_NEWS&bCode=0"><li>학생인재개발팀 경영관 이전 안내</li></a>
                   <a href=""><li>[국제처] 주한 아일랜드 대사관 인턴 모집</li></a>
                   <a href=""><li>(연장)2016학년도 2학기 삼성서울병원 의료봉사단 모집</li></a>
                   <a href=""><li>"네덜란드 총리와의 만남" 행사 참가자 모집</li></a>
               </ul>
               <a target="_blank" href="http://www.skku.edu/new_home/campus/skk_comm/notice_list.jsp?bName=BOARD_NEWS&bCode=0" class="school_more">더보기</a>
           </div>
            <div class="main_notice_banner1"><a target="_blank" href="http://yaf.or.kr/"><img src="/assets/ban1.png"></a></div>
           <div class="main_notice_banner2"><a target="_blank" href="http://www.sangsangmadang.com/ground/support/incubating/introList.asp"><img src="/assets/ban2.png"></a></div>
           <div class="main_notice_banner2"><a target="_blank" href="#"><img src="/assets/ban3.png"></a></div>
       </div>
       <div class="main_one_today">
            <h3><font color="#FBB03B">Today's</font> One of Us</h3>
            <div class="main_one_today_content1"></div>
            <div class="main_one_today_content2"></div>
            <div class="main_one_today_content2"></div>
            <div class="main_one_today_content2"></div>
            <div class="main_one_today_content1"></div>
            <div class="main_one_today_content2"></div>
            <div class="main_one_today_content2"></div>
            <div class="main_one_today_content2"></div>
            <a href="#" class="main_more">더보기</a>
       </div>
       <div class="main_team_today">
            <h3><font color="#FBB03B">Today's</font> Team</h3>
            <div class="main_team_today_content1"></div>
            <div class="main_team_today_content2"></div>
            <div class="main_team_today_content2"></div>
            <div class="main_team_today_content1"></div>
            <div class="main_team_today_content2"></div>
            <div class="main_team_today_content2"></div>
            <a href="#" class="main_more">더보기</a>
       </div>
       <div class="main_notice">

       </div>
   </div> 
</body>
</html>